<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Employee_Attendence_and_Task_Monitoring_System.Properties.Settings.DataConnectionString"
            connectionString="Data Source=DESKTOP-G7IISFU;Initial Catalog=Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>